* {
    /* border: solid red 2px; */
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
}

body {
    background-color: black;
    opacity: 0.9;
}


/*  -- Header Styling -- */

.header {
    padding-top: 10px;
    z-index: 1;
    /* border: solid red 1px; */
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: #000;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 69px;
    overflow: hidden;
}

.header img {
    height: 50px;
}

.header h3 {
    text-decoration: underline;
    text-align: center;
    float: right;
    display: block;
    margin: auto 0;
    padding: 14px 16px;
}

/* -- Main Styling -- */
.main {
    margin-top: 60px;
}

.jumbotron {
    position: relative;
    box-sizing: content-box;
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    background-image: url('./assets/img-mission-background.jpg');
}

.crossbar {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 100%;
}

.products {
    margin: 35px 0;
    width: 100%;
    /* border: solid red 1px; */
}

.products .text {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    /* border: solid red 2px; */
}

.products .pictures {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products .pictures img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
    margin-right: 25px;
}

.unit h3 {
    text-align: center;
}

.locations {
    position: relative;
    /* border: 1px solid red; */
    margin: 0 auto;
    box-sizing: content-box;
    width: 1200px;
    height: 600px;
    background-image: url('assets/img-locations-background.jpg');
}

.locations .title {
    font-size: 35px;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* margin-top: 20%; */
    
}

.cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto 0;
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards div {
    opacity: 1;
    font-size: 18px;
    background-color: black;
    margin-right: 40px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* -- Footer Styling -- */
.footer {
    text-align: center;
    /* border: solid 1px red; */
    box-sizing: border-box;
    height: 200px;

}

.footer .copyright {
    /* border: solid red 1px; */
    margin-top: 20px;
    text-align: left;
}